@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font-family: heisei-kaku-gothic-stdn,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16;
  color: #333; }

h1 {
  padding: 0;
  margin: 0; }

p {
  margin-bottom: 0;
  color: #555; }

a {
  color: #333;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none; }

li {
  list-style: none;
  padding: 0;
  margin: 0; }

.center {
  text-align: center; }

/*アニメーション*/
.fadeInUp {
  opacity: 0;
  transform: translate(0, 10px);
  transition: 2s; }

.scrollin {
  opacity: 1;
  transform: translate(0, 0); }

header {
  background: #fff;
  /*ナビゲーション*/ }
  header #header_in {
    padding-top: 10px;
    margin: 0 3%; }
  header .nav__pc__wrap {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header .nav__pc__wrap--1 {
      position: relative;
      margin-right: 10px; }
      header .nav__pc__wrap--1 p {
        font-size: 16px;
        font-size: 1.6rem; }
        header .nav__pc__wrap--1 p i {
          margin-right: 5px; }
    header .nav__pc__wrap--2 {
      display: flex; }
      header .nav__pc__wrap--2 .button1 {
        font-family: heisei-kaku-gothic-stdn,sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 15;
        text-decoration: none;
        background: #ffb829;
        margin: 0 10px;
        padding: 10px;
        border: 1px solid #ffb829;
        border-radius: 1.5px;
        box-shadow: 0 2px rgba(0, 0, 0, 0.1);
        position: relative;
        transition: all .3s;
        color: #fff; }
        header .nav__pc__wrap--2 .button1:hover {
          top: 2px;
          box-shadow: none;
          background: #fff;
          border: 1px solid #ffb829;
          color: #ffb829; }
  header .glonavi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 10px; }
    header .glonavi .borderLeftRight {
      position: relative; }
      header .glonavi .borderLeftRight:hover {
        color: #1e86c7; }
      header .glonavi .borderLeftRight::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #1e86c7;
        transform-origin: bottom right;
        transition: transform 0.3s ease-in; }
      header .glonavi .borderLeftRight:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left; }

@media (max-width: 549px) {
  header {
    position: fixed;
    z-index: 110; }
    header #header_in {
      padding-top: 0; }
      header #header_in .columns {
        width: 50%; }
    header .nav__sp {
      float: right;
      padding-top: 15px; }
      header .nav__sp__bar {
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 200; }
        header .nav__sp__bar span {
          position: absolute;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: #333;
          border-radius: 4px;
          display: inline-block;
          transition: all .5s;
          box-sizing: border-box; }
          header .nav__sp__bar span:nth-of-type(1) {
            top: 0; }
          header .nav__sp__bar span:nth-of-type(2) {
            top: 12px; }
          header .nav__sp__bar span:nth-of-type(3) {
            top: 24px; }
      header .nav__sp #bar_trigger.open span {
        background: #fff; }
      header .nav__sp #bar_trigger.open span:nth-of-type(1) {
        transform: translateY(12px) rotate(-45deg); }
      header .nav__sp #bar_trigger.open span:nth-of-type(2) {
        opacity: 0; }
      header .nav__sp #bar_trigger.open span:nth-of-type(3) {
        transform: translateY(-12px) rotate(45deg); }
      header .nav__sp__li {
        width: 50%;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        border: 2px solid #eee;
        background: #1280c9;
        padding-top: 50px;
        z-index: 120;
        transition: .5s ease-in-out;
        transform: translateX(100%);
        display: inline-block;
        text-align: center; }
        header .nav__sp__li a {
          display: block;
          padding: 10px 8px;
          text-decoration: none;
          border-bottom: 1px solid #eee;
          font-size: 14px;
          color: #fff; }
        header .nav__sp__li .button1 {
          font-family: heisei-kaku-gothic-stdn,sans-serif;
          font-weight: 500;
          font-style: normal;
          font-size: 15;
          text-decoration: none;
          background: #ffb829;
          margin: 15px 10px;
          padding: 15px;
          display: block;
          color: #fff; }
      header .nav__sp .nav__sp__li.open {
        transform: translateX(0); }
    header .overlay {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      background: rgba(255, 255, 255, 0.7);
      opacity: 0;
      transition: opacity .5; }
    header .overlay.open {
      opacity: 1; }
    header .glonavi {
      display: none; }
    header .nav__pc {
      display: none; } }
@media (min-width: 550px) {
  .nav__sp {
    display: none; } }
@media (max-width: 549px) {
  #cover_area {
    padding-top: 13%; } }
h2 {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  margin-bottom: 1rem; }

.sub_en {
  color: #1280c9;
  position: relative;
  margin-bottom: 2.5rem; }
  .sub_en::before {
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #1280c9;
    position: absolute;
    top: 50%;
    left: -5px; }
  .sub_en::after {
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #1280c9;
    position: absolute;
    top: 50%;
    right: -5px; }

@media (max-width: 549px) {
  h2 {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 1rem; }

  .sub_en {
    margin-bottom: 1rem; }
    .sub_en::before {
      width: 25%;
      left: 3px; }
    .sub_en::after {
      width: 25%;
      right: 3px; } }
#services {
  background: #fff;
  padding: 70px 0; }
  #services .services__box {
    border-radius: 1.5px;
    position: relative;
    text-decoration: none; }
    #services .services__box__inner {
      text-align: center;
      margin-top: 2rem;
      padding: 20px 20px 10px 20px;
      background: #f7fafc;
      border: 1px solid #f7fafc;
      transition: all .3s; }
      #services .services__box__inner:hover {
        box-shadow: 1px 1px 12px #e8e8e6; }
      #services .services__box__inner img {
        width: 50%;
        height: 50%; }
      #services .services__box__inner .services__box__text {
        font-weight: bold;
        margin-top: 10px;
        padding-top: 15px;
        margin-bottom: 1rem;
        border-top: 1px solid #e3e3e3;
        font-size: 16px;
        font-size: 1.6rem; }

@media (max-width: 549px) {
  #services {
    padding: 50px 0 0 0; }
    #services .services__box__inner {
      margin: 2rem 3rem; }
      #services .services__box__inner img {
        width: 40%;
        height: 40%; }
      #services .services__box__inner .services__box__text {
        margin-top: 0; } }
@media (min-width: 550px) {
  .clearfix::after {
    clear: both;
    content: '';
    display: block; } }
#feature {
  background: #fff;
  padding: 30px 0; }
  #feature .feature__box {
    width: 100%;
    padding-top: 50px;
    display: flex; }
    #feature .feature__box__left .feature__box__left--point {
      font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
      margin-bottom: 2rem;
      font-weight: bold; }
    #feature .feature__box__left .feature__box__left--title {
      font-size: 24px;
      font-size: 2.4rem;
      color: #1c79c9; }
    #feature .feature__box__left .feature__box__left--more {
      display: inline-block;
      margin-top: 1.5rem;
      color: #1EAEDB;
      position: relative;
      padding-right: 20px;
      text-decoration: none; }
      #feature .feature__box__left .feature__box__left--more i {
        margin-left: 5px;
        transform: translateX(0);
        transition: all .3s;
        font-size: 12px; }
      #feature .feature__box__left .feature__box__left--more:hover {
        opacity: .8; }
        #feature .feature__box__left .feature__box__left--more:hover i {
          transform: translateX(10px); }
    #feature .feature__box__right {
      text-align: center;
      width: 60%;
      margin: 0 auto; }
      #feature .feature__box__right img {
        width: 100%;
        height: auto;
        vertical-align: bottom; }

@media (max-width: 549px) {
  #feature {
    padding-top: 60px; }
    #feature .feature__box {
      padding: 20px 0;
      flex-direction: column; }
      #feature .feature__box__left .feature__box__left--point {
        margin-bottom: 1rem;
        font-size: 14px;
        font-size: 1.4rem; }
      #feature .feature__box__left .feature__box__left--title {
        margin-bottom: 1rem;
        font-size: 20px;
        font-size: 2rem; }
      #feature .feature__box__left .feature__box__left--more {
        display: block;
        margin: 5% 20% 0 20%;
        color: #1280c9;
        position: relative;
        text-align: center;
        padding: 10px 0;
        border: 1px solid #1280c9;
        cursor: pointer; }
    #feature .feature__box.reverse {
      flex-direction: column-reverse; } }
#casestudy {
  padding: 70px 0;
  background: #fff; }
  #casestudy ul {
    padding: 30px 0; }
    #casestudy ul li {
      cursor: pointer;
      background: #f7fafc; }
      #casestudy ul li a {
        text-decoration: none; }
        #casestudy ul li a:hover {
          color: #333;
          opacity: .7; }
        #casestudy ul li a .txt1 {
          display: block;
          padding: 5px 10px;
          background: #1c79c9;
          color: #fff; }
        #casestudy ul li a .img {
          overflow: hidden;
          height: 230px;
          margin-bottom: 1rem; }
          #casestudy ul li a .img img {
            width: 100%;
            height: 100%;
            transition: all .5s; }
            #casestudy ul li a .img img:hover {
              transition: all .5s;
              transform: scale(1.1, 1.1);
              opacity: .8; }
        #casestudy ul li a .main_txt {
          padding: 10px 5px 5px 5px;
          position: relative; }
          #casestudy ul li a .main_txt::before {
            position: absolute;
            font-family: 'FontAwesome';
            content: '\f10d';
            font-size: 18px;
            color: #787878;
            top: -5px; }
          #casestudy ul li a .main_txt .txt2 {
            font-size: 16px;
            font-size: 1.6rem;
            padding-bottom: 1.5rem;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid #1280c9;
            padding-left: 20px; }
          #casestudy ul li a .main_txt .txt3 {
            font-size: 14px;
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
            font-weight: 200; }
  #casestudy .conversion {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    #casestudy .conversion .tel {
      position: relative;
      margin-right: 10px; }
      #casestudy .conversion .tel p {
        color: #555;
        font-size: 24px;
        font-size: 2.4rem; }
        #casestudy .conversion .tel p i {
          margin-right: 5px; }
      #casestudy .conversion .tel .time {
        font-size: 14px;
        font-size: 1.4rem; }
    #casestudy .conversion .estimate a {
      color: #fff; }
    #casestudy .conversion .estimate .button1 {
      font-family: heisei-kaku-gothic-stdn,sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 16;
      text-decoration: none;
      background: #ffb829;
      margin: 0 20px;
      padding: 18px 30px;
      display: inline-block;
      border: 1px solid #ffb829;
      border-radius: 1.5px;
      box-shadow: 0 2px rgba(0, 0, 0, 0.1);
      position: relative;
      transition: all .3s; }
      #casestudy .conversion .estimate .button1:hover {
        top: 2px;
        box-shadow: none;
        background: #fff;
        border: 1px solid #ffb829;
        color: #ffb829; }

@media (max-width: 549px) {
  #casestudy {
    padding-top: 10px; }
    #casestudy ul {
      padding: 0; }
      #casestudy ul li {
        margin: 2rem 3rem 2rem 3rem; }
        #casestudy ul li a .main_txt .txt3 {
          font-size: 12px;
          font-size: 1.2rem;
          padding: 5px; }
    #casestudy .conversion {
      padding: 0 10px;
      display: flex;
      flex-direction: column; }
      #casestudy .conversion .tel {
        font-size: 14px;
        font-size: 1.4rem;
        width: 100%;
        display: block;
        margin-right: 0;
        text-align: center; }
      #casestudy .conversion .estimate {
        margin: 15px 0; }
        #casestudy .conversion .estimate .button1 {
          padding: 15px 60px; }
        #casestudy .conversion .estimate .button1.form {
          padding: 15px 75px; } }
.back {
  background: #fff;
  text-align: center; }
  .back #backtohome {
    position: relative;
    text-decoration: none;
    display: inline-block; }
    .back #backtohome::before {
      font-family: 'FontAwesome';
      font-weight: 900;
      content: '\f102';
      font-size: 25px;
      color: #333;
      position: absolute;
      width: 25px;
      height: 25px;
      top: -30px;
      bottom: 0;
      right: 0;
      left: 35%;
      transition: transform .2s ease; }
    .back #backtohome:hover {
      color: #333; }
    .back #backtohome:hover::before {
      transform: translateY(-5px); }

footer {
  background: #fff; }
  footer .footer {
    padding-top: 10px;
    margin: 0 3%;
    border-top: 1px solid #eee; }
    footer .footer img {
      width: 70%; }
    footer .footer .adress {
      color: #333;
      font-size: 11px;
      font-size: 1.1rem;
      display: flex;
      justify-content: normal;
      padding-left: 10%; }
      footer .footer .adress p {
        padding: 0 3%; }
        footer .footer .adress p .office {
          font-size: 11px;
          font-size: 1.1rem;
          position: relative;
          font-weight: bold;
          padding: 0 20px; }
          footer .footer .adress p .office::before {
            position: absolute;
            display: inline-block;
            content: '';
            width: 7px;
            height: 1px;
            top: 50%;
            left: -2px;
            background-color: #333;
            padding-left: 7px; }
          footer .footer .adress p .office::after {
            position: absolute;
            display: inline-block;
            content: '';
            width: 7px;
            height: 1px;
            top: 50%;
            right: -7px;
            background-color: #333;
            padding-right: 7px; }
        footer .footer .adress p .num {
          font-size: 10px;
          font-size: 1rem; }
    footer .footer .footer_navi {
      padding-top: 40px; }
      footer .footer .footer_navi li {
        list-style: none;
        display: inline-block;
        margin-right: 15px;
        font-size: 12px;
        font-size: 1.2rem;
        float: left; }
        footer .footer .footer_navi li .borderLeftRight {
          position: relative;
          color: #333;
          padding-left: 10px;
          text-decoration: none;
          display: inline-block; }
          footer .footer .footer_navi li .borderLeftRight:hover {
            color: #1e86c7; }
          footer .footer .footer_navi li .borderLeftRight::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #1e86c7;
            transform-origin: bottom right;
            transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1); }
          footer .footer .footer_navi li .borderLeftRight:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left; }
          footer .footer .footer_navi li .borderLeftRight::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 1px;
            top: 5px;
            left: 0;
            margin: auto;
            box-sizing: border-box;
            border: 5px solid transparent;
            border-left: 5px solid #333; }
          footer .footer .footer_navi li .borderLeftRight:hover::before {
            border-left: 5px solid #1e86c7; }
    footer .footer .below {
      padding-top: 15px;
      text-align: center;
      margin-bottom: 0; }
      footer .footer .below li {
        font-size: 10px;
        font-size: 1rem;
        list-style: none;
        display: inline-block;
        margin-bottom: 0; }
        footer .footer .below li a {
          text-align: center;
          display: inline-block;
          text-decoration: none; }
    footer .footer .copy {
      text-align: center;
      font-size: 11px;
      font-size: 1.1rem;
      color: #333; }

@media (max-width: 549px) {
  footer .columns {
    text-align: center; }
  footer .footer .adress {
    justify-content: space-around;
    padding-left: 0;
    margin: 0 30px; }
  footer .footer .footer_navi {
    display: none; }
  footer .footer .below {
    padding-top: 20px;
    font-size: 10px;
    font-size: 1rem; }
  footer .footer .copy {
    font-size: 10px;
    font-size: 1rem;
    padding-top: 5px; } }

/*# sourceMappingURL=sample.css.map */
